<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//apis.google.com/js/platform.js?onload=start"></script>
    </head>

    <body>
        <div id="signinButton">
            <span class="g-signin" data-scope="openid email profile"
                data-clientid="257374123952-djsd55omuut5s1lrh8acn4d9e5lhnp6i.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
                
            </span>
        </div>

          </span>
        </div>
        <div id="result"></div>
        <script>
            function signInCallback(authResult) {
                if (authResult['code']) { //if google sent back a code, that means the login was sucessfull
                    //hide the signin button
                    $('#signinButton').attr('style','display:none');
                    //send the one time use code to the server. if the server responds, write a 'login sucessfull' message to the webpage and then redirect back to the main restaurant page
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}', //need to define gconnect method. STATE is our server state token to prevent requests forgery
                        processData: false, //do not ask jQuery to process response as string
                        contentType: 'application/octet-stream; charset=utf-8', //indicates we are sending arbitrary binary stream of data
                        data: authResult['code'], //the data we will send
                        //if we get success code,display login successfull
                        success: function(result){
                            if(result){ //result is any additional information google server has to give us
                                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                                setTimeout(function(){window.location.href="/restaurant";},4000);
                            }
                            //if there was an error, then log it
                            else if (authResult['error']){
                                console.log('There was an error: ' + authResult['error']);
                            }
                            //if there was no response, tell user to check config
                            else{
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');

                            }
                        }
                    });

                }

            }
      

        </script>
        
    </body>
</html>